@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Open+Sans&family=Poppins:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
input {
  outline: none;
  border: none;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #27adad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #169999;
}
a{
  text-decoration: none;
}
.msg{
min-width: 200px;
min-height: 70px;
padding: 10px;
border-radius: 2px;
font-size: 18px;
font-weight: bold;
z-index: 100;
background-color:rgb(103, 248, 103) ;
color:#fff;
position: fixed;
top: 80px;
right: -400px;
transition: all 0.3s ease-in-out;
display: flex;
align-items: center;
justify-content: center;
}
.msg p{
  font-size: 17px;
  font-weight: 600;
}
.msg.show{
right: 30px;
transition: all 0.3s ease-in-out;

}
.err{
  background: rgb(239, 109, 109);
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}
button{
  background-color: #169999;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 17px;
}