.right-sidebar {
  height: calc(100vh - 80px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.add-uesr h3 {
  margin-bottom: 30px;
}
.add-uesr {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 3.6rem;
  flex-direction: column;
}
.plate-card .add-uesr{
  align-items: center;
  justify-content:center;
  margin-top: 0rem;
}
.add-uesr svg {
  font-size: 18px;
  margin-right: 10px;
}
.chart-area h3 {
  margin-bottom: 30px;
  padding: 10px 0;
}
.chart-area svg {
  height: 200px;
}
.chart-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-box {
  width: 80%;
  height: 100px;
  padding: 10px;
  border: 2px dashed rgb(92, 92, 92);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-box {
  display: flex;
  margin: 5px;
}
.col {
  background: rgba(1, 150, 1, 0.509);
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.col.non {
  background:rgba(244, 60, 14, 0.459);
}
.col.egg {
  background: rgba(244, 225, 14, 0.459);
}
.user-info {
  background: #b7e8e8;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.user-info p{
font-size: 18px;
font-weight: 600;
}